<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">

    <title>Hirano Investment Management</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/font-awesome-all.min.css" rel="stylesheet">
    <link href="assets/css/fa-brands.min.css" rel="stylesheet">
    <link href="assets/js/fancybox/jquery.fancybox.css" rel="stylesheet" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#theMenu">

	<!-- Menu -->
	<nav class="menu" id="theMenu">
		<div class="menu-wrap">
			<h1 class="logo"><a href="index.html#home">Hirano Investment</a></h1>
			<i class="fa fa-times menu-close"></i>
			<a href="#home" class="smoothScroll">Home</a>
			<a href="#about" class="smoothScroll">About</a>
			<a href="#portfolio" class="smoothScroll">Portfolio</a>
			<a href="#services" class="smoothScroll">Services</a>
			<a href="#contact" class="smoothScroll">Contact</a>
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-dribbble"></i></a>
			<a href="#"><i class="fa fa-envelope"></i></a>
		</div>

		<!-- Menu button -->
		<div id="menuToggle"><i class="fa fa-bars"></i></div>
	</nav>

	<section id="home" name="home"></section>
	<div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<h1>Hirano Investment Management</h1>
				</div>
			</div><!--/row -->
		</div><!--/container -->
	</div><!--/headerwrap -->

	<section id="about" name="about"></section>
	<div id="aboutwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 name">
					<img class="img-responsive" src="assets/img/pic.png">
					<p>代表取締役<br>平野　竜太郎</p>
					<div class="name-label"></div>
				</div><!--/col-lg-4-->
				<div class="col-lg-8 name-desc">
					<h2>Message</h2>
					<div class="name-zig"></div>

					<div class="col-md-6">
						<p>ジャパン・ホテル・リート・アドバイザーズ株式会社の代表取締役社長の古川尚志でございます。私共が運用する「ジャパン・ホテル・リート投資法人」は、ホテル・アセットを投資対象とする東京証券取引所に上場された不動産投資法人（Jリート）です。</p>
						<p>「ジャパン・ホテル・リート投資法人」は、平成24年４月１日、日本ホテルファンド投資法人とジャパン・ホテル・アンド・リゾート投資法人の合併により誕生しました。その後ポートフォリオの拡大と質の向上を着実に進め、資産規模において国内最大のホテル特化型Ｊリートに成長しております。</p>
					</div>
					<div class="col-md-6">
						<p>ホテル・アセットの運用においては、一般的な賃貸不動産の投資・運用ノウハウに加え、ホテル運営に係わるホテル・アセット特有の投資・運用ノウハウの蓄積が必要となります。また、ホテル運営会社をはじめ多くの関係者の方々の協力が必要となります。私共は、これまでに培ったノウハウ、ネットワーク、信頼関係など無形の資源を生かし、ホテル・アセットへの魅力的な投資機会を資本市場に提供することを使命と考えております。</p>
						<p>国内のレジャー需要や訪日外国人観光客の益々の増加が予想される中、日本のホテル産業及び観光業は成長が最も期待される産業のひとつと考えられます。政府も観光立国の実現に向けて様々な施策を打ち出しています。 </p>
					</div>

				</div><!--/col-lg-8-->

			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /aboutwrap -->
  <div class="container">
      <div id="header-hollow" class="row">
          <div class="col-md-5">
              <div class="input-group">
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-map-marker"></span>
                  </span>
                  <input type="text" id="address" class="form-control" value="東京都墨田区押上１−１−２" />
              </div>
          </div>
      </div><!-- /#header-hollow -->

      <div class="row">
          <div class="well well-sm">
              <div id="map-canvas"></div>
          </div>
      </div>
  </div><!-- /.container -->

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
  <script type="text/javascript" src="./js/script.js" charset="utf8"></script>
  <script type="text/template" id="infowindow_template">
      <div class="well info-window">
          <div class="row">
              <span>緯度: <%= latitude %></span>
          </div>
          <div class="row">
              <span>経度: <%= longitude %></span>
          </div>
      </div>
  </script>
	<!-- ABOUT SEPARATOR -->
	<div class="sep about" data-stellar-background-ratio="0.5"></div>

	<!-- PORTFOLIO SECTION -->
	<section id="portfolio" name="portfolio"></section>
	<div id="portfoliowrap">

    		<div class="container">
    			<div class="row mt centered">
    				<h1>FEATURES</h1>
    				<div class="col-lg-4 proc">
    					<i class="fa fa-globe"></i>
    					<h3>グローバリズム</h3>
    					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
    				</div>
    				<div class="col-lg-4 proc">
    					<i class="fa fa-group"></i>
    					<h3>協調性</h3>
    					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
    				</div>
    				<div class="col-lg-4 proc">
    					<i class="fa fa-road"></i>
    					<h3>成長性</h3>
    					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
    				</div>

    			</div><!--/row -->
    		</div><!--/container -->

		<div class="container">
			<div class="row">
				<h1>PICK UP PORTFOLIO</h1>

				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
					<div class="project-wrapper">
	                    <div class="project">
	                        <div class="photo-wrapper">
	                            <div class="photo">
	                            	<a class="fancybox" href="assets/img/portfolio/ch-bj.jpg"><img class="img-responsive" src="assets/img/portfolio/ch-bj.jpg" alt=""></a>
	                            </div>
	                            <div class="overlay"></div>
	                        </div>
	                    </div>
	                </div>
				</div><!-- col-lg-4 -->

				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
					<div class="project-wrapper">
	                    <div class="project">
	                        <div class="photo-wrapper">
	                            <div class="photo">
	                            	<a class="fancybox" href="assets/img/portfolio/it-collseo.jpg"><img class="img-responsive" src="assets/img/portfolio/it-collseo.jpg" alt=""></a>
	                            </div>
	                            <div class="overlay"></div>
	                        </div>
	                    </div>
	                </div>
				</div><!-- col-lg-4 -->

				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
					<div class="project-wrapper">
	                    <div class="project">
	                        <div class="photo-wrapper">
	                            <div class="photo">
	                            	<a class="fancybox" href="assets/img/portfolio/vc-vachican.jpg"><img class="img-responsive" src="assets/img/portfolio/vc-vachican.jpg" alt=""></a>
	                            </div>
	                            <div class="overlay"></div>
	                        </div>
	                    </div>
	                </div>
				</div><!-- col-lg-4 -->
			</div><!-- /row -->

			<div class="row mt">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
					<div class="project-wrapper">
	                    <div class="project">
	                        <div class="photo-wrapper">
	                            <div class="photo">
	                            	<a class="fancybox" href="assets/img/portfolio/ny-libray.jpg"><img class="img-responsive" src="assets/img/portfolio/ny-libray.jpg" alt=""></a>
	                            </div>
	                            <div class="overlay"></div>
	                        </div>
	                    </div>
	                </div>
				</div><!-- col-lg-4 -->

				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
					<div class="project-wrapper">
	                    <div class="project">
	                        <div class="photo-wrapper">
	                            <div class="photo">
	                            	<a class="fancybox" href="assets/img/portfolio/ny-apple.jpg"><img class="img-responsive" src="assets/img/portfolio/ny-apple.jpg" alt=""></a>
	                            </div>
	                            <div class="overlay"></div>
	                        </div>
	                    </div>
	                </div>
				</div><!-- col-lg-4 -->

				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
					<div class="project-wrapper">
	                    <div class="project">
	                        <div class="photo-wrapper">
	                            <div class="photo">
	                            	<a class="fancybox" href="assets/img/portfolio/ny-central.jpg"><img class="img-responsive" src="assets/img/portfolio/ny-central.jpg" alt=""></a>
	                            </div>
	                            <div class="overlay"></div>
	                        </div>
	                    </div>
	                </div>
				</div><!-- col-lg-4 -->
			</div><!-- /row -->
		</div><!--/container -->
	</div><!--/Portfoliowrap -->

	<!-- PORTFOLIO SEPARATOR -->
	<div class="sep portfolio" data-stellar-background-ratio="0.5"></div>

  <!-- profile -->
  <section id="profile" name="profile"></section>
  <div id="profilewrap">

      <h1>PROFILE</h1>
      <div class="container">
      <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>会社名</th>
          <td>ジャパン・ホテル・リート・アドバイザーズ株式会社</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>所在地</th>
          <td>東京都渋谷区恵比寿四丁目1番18号 恵比寿ネオナート</td>
        </tr>
        <tr>
          <th>設立年月日</th>
          <td>2004年8月10日</td>
        </tr>
        <tr>
          <th>資本金</th>
          <td>3億円</td>
        </tr>
        <tr>
          <th>役員</th>
          <td>
            <table class="yakuin-padding">
              <tbody>
                <tr>
                  <td>代表取締役社長</td>
                  <td>古川 尚志</td>
                </tr>
                <tr>
                  <td>取締役</td>
                  <td>松原 宗也</td>
                </tr>
                <tr>
                  <td>取締役（非常勤）</td>
                  <td>チュア・ケング・キム</td>
                </tr>
                <tr>
                  <td>監査役（非常勤）</td>
                  <td>関田 成夫</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
      </table>
      </div>
      </div>
      <!-- /profile -->




	<!-- SERVICE SECTION -->
	<section id="services" name="services"></section>
	<div id="servicewrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-8-offset-2 centered">
					<h1>PHILOSOPHY</h1>
					<h3>基本理念：「投資主利益第一主義」</h3>
					<p>弊社は上記基本理念のもと、投資主の利益の最大化に資するよう、以下の行動を執ります。</p>
				</div><!-- /col-lg-8 -->
			</div><!--/row -->

			<div class="row mt">
				<div class="col-lg-3 service">
					<i class="fa fa-star"></i><p>PREMIUM QUALITY<br/><small>LOREM IPSUM DOLOR</small></p>
					<p class="text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
				</div>
				<div class="col-lg-3 service">
					<i class="fa fa-cloud"></i><p>CLOUD SERVICES<br/><small>LOREM IPSUM DOLOR</small></p>
					<p class="text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
				</div>
				<div class="col-lg-3 service">
					<i class="fa fa-shield"></i><p>SECURED ACCOUNTS<br/><small>LOREM IPSUM DOLOR</small></p>
					<p class="text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
				</div>
				<div class="col-lg-3 service">
					<i class="fa fa-heart"></i><p>100% SATISFACTION<br/><small>LOREM IPSUM DOLOR</small></p>
					<p class="text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
				</div>
			</div><!--/row -->
			<div class="row mt">
				<div class="col-lg-3 service">
					<i class="fa fa-trophy"></i><p>PREMIUM QUALITY<br/><small>LOREM IPSUM DOLOR</small></p>
					<p class="text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
				</div>
				<div class="col-lg-3 service">
					<i class="fa fa-globe"></i><p>CLOUD SERVICES<br/><small>LOREM IPSUM DOLOR</small></p>
					<p class="text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
				</div>
				<div class="col-lg-3 service">
					<i class="fa fa-lock"></i><p>SECURED ACCOUNTS<br/><small>LOREM IPSUM DOLOR</small></p>
					<p class="text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
				</div>
				<div class="col-lg-3 service">
					<i class="fa fa-thumbs-up"></i><p>100% SATISFACTION<br/><small>LOREM IPSUM DOLOR</small></p>
					<p class="text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
				</div>
			</div><!--/row -->

		</div><!--/container -->
	</div><!--/servicewrap -->

	<div id="testimonials">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 mt">

					<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
					  <!-- Wrapper for slides -->
					  <div class="carousel-inner">
					    <div class="item active mb centered">
					      <h3>MARK WEBBER</h3>
					      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
					      <p><img class="img-circle" src="assets/img/pic-t1.jpg" width="80"></p>
					    </div>

					    <div class="item mb centered">
					      <h3>PAUL LEVINGSTON</h3>
					      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
					      <p><img class="img-circle" src="assets/img/pic-t2.jpg" width="80"></p>
					    </div>

					    <div class="item mb centered">
					      <h3>LUCY LENNIN</h3>
					      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
					      <p><img class="img-circle" src="assets/img/pic-t3.jpg" width="80"></p>
					    </div>

					  </div>
					  <!-- Indicators -->
					  <ol class="carousel-indicators">
					    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
					  </ol>
					</div>

				</div><!--/col-lg-8 -->
			</div><!--/row -->
		</div><!--/container -->
	</div><!--/testimonials -->

	<!-- SERVICE SECTION -->
	<section id="contact" name="contact"></section>
	<!-- CONTACT SEPARATOR -->
	<div class="sep contact" data-stellar-background-ratio="0.5"></div>

	<div id="contactwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<p>お問い合わせ</p>
					<p></p>
					<p>
						<small>住所<br>東京都港区西新橋1-1-1</small>
					</p>
					<p>
						<small>Tel. 03-0000-8141<br/>
						Mail. ryotaro.hirano@japan-0000.co.jp<br/></small>
					</p>
					<p>
						<small>Copyright (C) Hirano Investment Management Co., Ltd. All Rights Reserved</small>
					</p>

				</div>

				<div class="col-lg-6">
					<form role="form">
					  <div class="form-group">
					    <label for="exampleInputName1">Your Name</label>
					    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter name">
					    <label for="exampleInputEmail1">Email address</label>
					    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
					    <label for="exampleInputText1">Message</label>
					    <textarea class="form-control" rows="3"></textarea>
					  </div>
					  <button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>

			</div><!--/row -->
		</div><!-- /container -->
	</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="assets/js/classie.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/smoothscroll.js"></script>
	<script src="assets/js/jquery.stellar.min.js"></script>
	<script src="assets/js/fancybox/jquery.fancybox.js"></script>
	<script src="assets/js/main.js"></script>
	<script src="assets/js/script.js"></script>
		<script>
		$(function(){
			$.stellar({
				horizontalScrolling: false,
				verticalOffset: 40
			});
		});
		</script>

		<script type="text/javascript">
      $(function() {
        //    fancybox
          jQuery(".fancybox").fancybox();
      });
	   </script>



  </body>
</html>
